{% macro render_field(field) %}
    {% set error_class = 'has-error' if field.errors else '' %}
    <div class="form-group {{error_class}}">
        {% set label_class = 'control-label ' + kwargs.pop('labelClass', '') %}
        {{ field.label(class=label_class) }}

        <div class="{{ kwargs.pop('wrapElemClass', '') }}">
            {% set form_class = 'form-control ' + kwargs.pop('class', '') %}
            {{ field(class=form_class, **kwargs) }}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
        {% endif %}
    </div>
{% endmacro %}



{% macro render_items(items, cols=3) %}
    {% for row in items|batch(cols) %}
        <div class="row">
            {% for item in row %}
                <div class="col-md-{{12//cols}} destination">
                    <a href="{{ url_for('.showItem', item_id=item.id) }}">
                        <p>{{ item.name }}</p>
                        <img class="img-responsive" src="{{ url_for('.downloadFile', filename=item.image) }}" alt="{{ item.imageAlt}}">
                    </a>
                    <p>{{ item.country }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}