{% extends "mainLayout.html" %}
{% from "_helpers.html" import render_items %}

{% block page_title %}List of Destinations{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="categories">
            <h3>Categories</h3>
            <ul class="list-group">
            {% for cat in categories %}
                <li class="list-group-item">
                    <a href="{{ url_for('listItemsByCategory', category_id=cat.id) }}" class="sliding-u-l-r">{{ cat.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        {% if request.endpoint == 'home' %}
            {% if items %}
                <h1>Latest destinations</h1>
            {% else %}
                <h1>No destinations found</h1>
            {% endif %}
        {% elif request.endpoint == 'listItemsByCategory' %}
            {% if items %}
                <h1>{{ "Destinations in " ~ items[0].category.name }}</h1>
            {% else %}
                <h1>No destinations in this category</h1>
            {% endif %}
        {% else %}
            {% if items %}
                <h1>Search results</h1>
            {% else %}
                <h1>No search results</h1>
            {% endif %}
        {% endif %}
        {{ render_items(items) }}
    </div>
</div>
{% endblock %}