<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page_title %}{% endblock %} - Destinations Catalog</title>

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quattrocento|Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% if session.get('credentials') %}
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <script type="text/javascript">
            // Initialize the GoogleAuth object
            function start() {
                gapi.load('auth2', function() {
                    auth2 = gapi.auth2.init({
                        client_id: '513824734604-pki9p8vqj35cl7ui70gnlubc5b0t7igm.apps.googleusercontent.com'
                    });
                });

                $("#logout-lnk").click(function(e) {
                    e.preventDefault();
                    gapi.auth.signOut();
                    $(location).attr('href', $( "#logout-lnk" ).attr("href"));
                });
            }
        </script>
    {% endif %}
    {% if session.get('fb_credentials') %}
        <script type="text/javascript">
            // Initialize the Facebook SDK for JavaScript
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '1055639074569509',
                    cookie     : true,  // enable cookies to allow the server to access
                    xfbml      : true,  // parse social plugins on this page
                    version    : 'v2.9' // use graph api version 2.9
                });

                $( "#logout-lnk" ).click(function(e) {
                    e.preventDefault();
                    FB.getLoginStatus(function(response) {
                        if (response.status === 'connected') {
                            FB.logout(function(response) {
                                $(location).attr('href', $( "#logout-lnk" ).attr("href"));
                            });
                        } else {
                            $(location).attr('href', $( "#logout-lnk" ).attr("href"));
                        }

                    });
                });
            };

            // Load the Facebook SDK for JavaScript
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    {% endif %}

    {% block immediate_js %}
    {% endblock %}
</head>

<body>

    <header>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container">
                        <p class="logged-user">
                            {% if current_user.is_authenticated %}
                                Welcome {{ current_user.email }} | <a id="logout-lnk" href="{{ url_for('logout') }}">Logout</a>
                            {% endif %}
                        </p>
                        <div class="navbar-header">
                            <div class="navbar-brand">
                                <a href="{{ url_for('home') }}"><h1>Destinati<i class="fa fa-globe" aria-hidden="true"></i>ns Catalog</h1></a>
                            </div>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            {% if not current_user.is_authenticated %}
                                <li><a href="{{ url_for('newItem') }}">Add destination</a></li>
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                            {% elif current_user.isAdmin() %}
                                <li><a href="{{ url_for('listCategories') }}">Categories</a></li>
                            {% else %}
                                <li><a href="{{ url_for('newItem') }}">Add destination</a></li>
                            {% endif %}

                        </ul>

                        <form class="navbar-form navbar-right" action="{{ url_for('searchItems') }}">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Search by name or country">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                </nav>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div><!-- /.container -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Destinations Catalog Application</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    {% block js %}
    {% endblock %}
</body>

</html>
